stages:
  - build
  - test
  - clean
build:
  stage: build
  script:
    - bash build_gtest.sh && mkdir -p build && cd build && cmake .. && make
  artifacts:
    paths:
      - ./
      - build/*

test:
  stage: test
  script:
    #- ./
    #- ./testRunner --gtest_output="xml:./"
    - dir && pwd && cd build && dir
    - cd build && ./testRunner
  artifacts:
    when: always
    paths: 
      - report/
    reports:
      junit: report/report.xml
  

clean:
  stage: clean
  script:
    - make clean
